$primary: #a83285;
@import '~bootstrap/scss/bootstrap';

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(306deg, deepskyblue, #9670ac, #a83285);
  background-attachment: fixed;
  animation: gradient-animation 12s ease infinite;
}

@mixin frosted-background {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.frosted {
  @include frosted-background;
  border-radius: 15px;
}

.sleek-letters {
  color: #fff;
  opacity: 0.9;
}

.card img {
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.img-container {
  overflow: auto;
}

main {
  padding-top: 90px;
}

.header {
  @include frosted-background;
  height: 60px !important;
}

header .container {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1,
.header a {
  font-size: 1.3em;
  margin-bottom: 0;
}

.select-box {
  border: 4px solid red;
  border-radius: 8px;
  box-shadow: 0px 0px 8px black;
}

.game-image {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 20px;
}

.ranking {
  width: min(100%, 600px);
  margin-top: 100px;
}

th,
td {
  text-align: center;
}

table {
  width: 100%;
}

tr {
  padding: 12px;
}
